{% extends 'base.html' %}
{% block content %}
<h2>{{ car.brand }} {{ car.name }}</h2>

{% if messages %}
  <div class="alert " role="alert">
    {% for message in messages %}
      <div class="alert alert-warning ">
        {{ message }}
        <button onclick="this.parentElement.style.display='none'">OK</button>
      </div>
    {% endfor %}
  </div>
{% endif %}

<div class="row">
    <div class="col-md-6 ">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
              {%if car.image %}
            <div class="carousel-item active">
              <img src="{{ car.image.url }}" class="d-block w-100" alt="...">
            </div>
              {% endif %}
              {%if car.image2 %}
            <div class="carousel-item">
              <img src="{{ car.image2.url }}" class="d-block w-100" alt="...">
            </div>
              {% endif %}
              {%if car.image3 %}
            <div class="carousel-item">
              <img src="{{ car.image3.url }}" class="d-block w-100" alt="...">
            </div>
              {% endif %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>


    <div class="col-md-6">
        <p><strong>Make:</strong> {{ car.car_make }}</p>
        <p><strong>Model:</strong> {{ car.car_model }}</p>
        <p><strong>Type:</strong> {{ car.car_type.name }}</p>
        <p><strong>Year:</strong> {{ car.model_year }}</p>
        <p><strong>Registration:</strong> {{ car.registration_number }}</p>
        <p><strong>Price per day:</strong> ${{ car.price_per_day }}</p>
        <p><strong>Owners mobile phone:</strong> {{ car.added_by.phone_number }}</p>
        <p>Description:
            {{ car.description }}</p>

        {% if user.is_authenticated %}
            {% if car.added_by == user %}
                <a href="{% url 'cars:car_edit' car.pk %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'cars:car_delete' car.pk %}" class="btn btn-danger">Delete</a>
            {% endif %}

            {% if car.is_available %}
                <form method="post" action="{% url 'cars:car_rent' car.pk %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label>Start Date:</label>
                        <input type="date" name="start_date" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label>End Date:</label>
                        <input type="date" name="end_date" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-success">Rent This Car</button>
                </form>
            {% else %}
                <p class="text-danger">Currently unavailable.</p>
            {% endif %}
        {% else %}
            <p>Please <a href="{% url 'user:login' %}">login</a> to rent a car.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
