

.card-img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card-img-top {
    width: 100%;
    height: 200px !important;
    object-fit: cover;
    object-position: center;
}

body {
    background-color: rgb(125,243,255);
}

.detail-page-img {
    width: 40vw;
}

.filter-class {
    height: auto;
    background-color: rgb(172, 244, 252);
    color: black;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.08),
        0 2px 2px rgba(0, 0, 0, 0.08),
        0 4px 4px rgba(0, 0, 0, 0.08),
        0 8px 8px rgba(0, 0, 0, 0.08),
        0 16px 16px rgba(0, 0, 0, 0.08);
}

.filter-class-1 {
    height: auto;
    background-color: rgb(172, 244, 252);
    color: black;

}

.filter-class-btn {
    margin: 0px;
    padding: 0px;


}





